.success input {
	border: 2px solid mediumseagreen;	
}

.danger input {
	border: 2px solid darkred;
}

input {
	outline: none;
}

span {
	display: block;
	color: darkred;
	font-weight: bold;
}

button {
	margin-top: 10px;
	font-weight: bold;
}

