.success input {
	border: 2px solid mediumseagreen;	
}

.danger input {
	border: 2px solid darkred;
}

input {
	outline: none;
}

span {
	border-radius: 50%;
	color: darkred;
	font-weight: bold;
}

button {
	margin-top: 10px;
	font-weight: bold;
}


li {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
