<div class="col-xs-8 col-xs-offset-2">
	<form (ngSubmit)='submitForm(form)' #form='ngForm'>
		<div class="form-group" >
			<label>Email</label>
			<input type="text" class="form-control" ngModel name='email' required email #email='ngModel' [ngClass]="{'error': email.invalid && email.touched}" >
			<p *ngIf='email.invalid && email.touched'>Введите правильно емайл</p>
		</div>
		<div class="form-group">
			<label>Пароль</label>
			<input type="password" class="form-control" ngModel name='pass' #password = 'ngModel' required [ngClass]="{'error': password.invalid && password.touched}">
		</div>
		<div class="form-group">
			<label>Выберите страну</label>
			<select class="form-control" [ngModel]='defaultCountry' name='country' #select = 'ngModel' required [ngClass]="{'error': select.invalid && select.touched}">
				<option value="ru">Россия</option>
				<option value="by">Беларусия</option>
				<option value="ua">Украина</option>
			</select>
		</div>
		<div class="radio" *ngFor='let item of list' required [ngModel]='defaultAnswer'>
			<label>
				<input type="radio" [value]='item.type' name='answer' [ngModel]='defaultAnswer'> {{item.text}}
			</label>
		</div>
		<button class="btn btn-success" type="submit" [disabled]='!form.valid'>Сохранить</button>
	</form>
</div>