<div class="container">

	<form [formGroup]='regForm' (ngSubmit)='onSubmit(regForm)'>

		<div formGroupName="user">

			<div class="form-group" 
				[ngClass]="{'has-error': regForm.get('user.firstName').invalid &&
									     regForm.get('user.firstName').touched}"
			>

				<label for="firstName">First Name</label>

				<input type="text"
					formControlName="firstName"
					id="firstName"
					class="form-control"
				>

				<div class="alert alert-danger" 
					*ngIf="regForm.get('user.firstName').invalid &&
						   regForm.get('user.firstName').touched"
				>
					Enter correctly Name
				</div>
			</div>

			<div class="form-group" 
				[ngClass]="{'has-error': regForm.controls['user'].controls['lastName'].invalid &&
										 regForm.controls['user'].controls['lastName'].touched}"
				>

				<label for="lastName">Last Name</label>

				<input type="text"
					formControlName="lastName"
					id="lastName" 
					class="form-control" 
				>

				<div class="alert alert-danger" 
					*ngIf="regForm.get('user.lastName').invalid && 
						   regForm.get('user.lastName').touched"
				>
					Enter correctly LastName
				</div>
			</div>
		</div>

		<div formArrayName="emails">
			<div class="form-group"
				[ngClass]="{'has-error': regForm.get('emails').controls[id].invalid &&
										 regForm.controls['emails'].controls[id].touched}"
				*ngFor='let email of regForm.controls["emails"].controls; let id= index'
			>
				
				<label for="email">Email {{id + 1}}</label>

				<input type="email"
					formControlName='{{id}}'
					id="email"
					class="form-control" 
				>

				<div class="alert alert-danger"
					*ngIf="regForm.get('emails').controls[id].invalid &&
						   regForm.get('emails').controls[id].touched"
				>
					Enter correctly email
				</div>
			</div>
		</div>

		<div formGroupName="pass">
			<div class="form-group" [ngClass]="{'has-error': regForm.get('pass.password').invalid && regForm.get('pass.password').touched}">
				<label for="password">Password</label>
					<input type="text"
						class="form-control"
						formControlName="password"
						>
			</div>

			<div class="form-group" [ngClass]="{'has-error': regForm.get('pass.confirm').invalid && regForm.get('pass.confirm').touched}">
				<label for="confirm">Password Confirm</label>
					<input type="text"
						class="form-control"
						formControlName="confirm"
						>
			</div>

			<p *ngIf="regForm.get('pass.confirm').dirty && regForm.get('pass.password').dirty && regForm.hasError('equal', 'pass')">Пароли не совпадают</p>
		</div>

		<div class='form-group'>
			<button type='button' class="btn btn-default" (click)="addEmail()">Add Email</button>
			<hr>
			<button class="btn btn-default"
				
				>
				Submit
			</button>
		</div>
	</form>
	<button (click)='show()'>Click show</button>
</div>


