div {
	max-width: 600px;
	margin-left: 20px;
}

.black-text {
	background-color: black;
}

.ng-invalid[required].ng-touched {
	border-bottom: 5px solid red;
}

.ng-valid:not(form) {
	border-bottom: 5px solid mediumseagreen;
}



