<div class="container">
	<form [formGroup]= "emForm" (ngSubmit)='onSubmit(emForm)'>

		<div class="form-group" 
			[class.danger]="emForm.get('email').hasError('blackListValidator')"
			[class.success]="!emForm.get('email').hasError('blackListValidator') &&
							emForm.get('email').valid"
		>
			
		

			<label for="email">Email</label>

			<input type="email"
				id="email" 
				class="form-control"
				formControlName="email">



			 <span *ngIf="emForm.controls.email.pending"			
			 >
			 	Check email..pending
			 </span>
			
			<span *ngIf="emForm.get('email').hasError('blackListValidator')">
				This mail is Blocked
			</span>

			
		</div>

		<button class="btn btn-primary" (click)="onSubmit()">Submit</button>

	</form>
</div>