.success input {
	border: 2px solid mediumseagreen;	
}

.danger input {
	border: 2px solid darkred;
}

input {
	outline: none;
}

span {
	border-radius: 50%;
	color: #ffff;
	font-weight: bold;
}

button {
	margin-top: 10px;
	font-weight: bold;
}

.nav.nav-bar {
	display: flex;
	width: 500px;
}

.active {
	background: mediumseagreen;
	opacity: .5;
}